<button type="button" class="btn btn-outline-info btn-sm" routerLink="/cliente">
  <i class="fas fa-arrow-left"></i>
</button>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <label for="">No. Contrato</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.n_contrato" placeholder="No. de contrato">
        </div>
        <div class="col">
            <label for="">Nombre Completo</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre_completo" placeholder="Nombre completo">
        </div>
        <div class="col">
            <label for="">Teléfono</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.telefono" placeholder="Teléfono">
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <label for="">Dirección</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.direccion"  placeholder="Dirección">
        </div>
        <div class="col">
            <label for="">Paquete</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.paquete"  placeholder="Paquete">
        </div>
        <div class="col">
            <label for="">Sector</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.sector"  placeholder="Sector">
        </div>
      </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <label for="">Estación</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.estacion"  placeholder="Estación">
        </div>
        <div class="col">
            <label for="">Estatus</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.status"  placeholder="Estatus">
        </div>
        <div class="col">
            <label for="">Fecha Contratación</label>
            <br>
            <input type="date" class="form-control" [(ngModel)]="cliente.fecha_contratacion">
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col">
            <label for="">Id Instalación</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.id_instalacion" placeholder="Id Instalación">
        </div>
        <div class="col">
            <label for="">Id Vendedor</label>
            <br>
          <input type="text" class="form-control" [(ngModel)]="cliente.id_vendedor" placeholder="Id Vendedor">
        </div>
    </div>
</div>
<br>
<div class="float-right">
    <button type="button" class="btn btn-outline-info btn-sm" (click)="edit ? actualizarCliente() : guardarCliente()">Guardar</button>
</div>